*{
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

.rpcImage:hover{
  background-color:#CCC;
}

table {
  width: 90%;
  max-width: 600px;
  border-collapse: collapse;
}

td {
  width: 16.66%;
  position: relative;
  border: 5px solid #2e2e2e;
}

td:hover {
  background-color: rgba(50, 50, 50, 0.5);
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
}
